.write_button {
    background-color : #1F8BFF;
    color : #fff;
    width : 8vw;
    height : 6vh;
    border : none;
    border-radius : 8px;
    font-size : 1.2rem;
    margin-left : 2vw;
}

.write_button:hover {
    cursor : pointer;
}

.read_button {
    color : #FFF;
    width : 6.4vw;
    height : 5vh;
    font-size : 1.2rem;
    border : none;
    border-radius : 8px;
    margin-left : 1vw;
}

.read_button:hover {
    cursor : pointer;
}