.commentBox {
    width: 100%;
    min-height: 24.5vh;
    border-bottom: 1px solid #808080;
    margin-top: 2vh;
    box-sizing : border-box;
    margin-top : 6vh;
}

.commentRow {
    display: flex;
    align-items: center;
    position : relative;
}

.userIcon {
    width: 4vw;
    height: 6.6vh; 
}

.commentSpan {
    margin-left: 1vw;
    margin-bottom : -1.6vh;
}

.commentSpan > h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.commentSpan > h4 {
    color: #808080;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.seroJum {
    width: 0.5vw; 
    height: 3.6vh;
    margin-top : 0.4vh;
    margin-left : auto;
    cursor : pointer;
}

.commentContent {
    margin-top : 4vh;
    margin-left : 0.4vw;
    color : #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 380;
    line-height: normal;
}

.funcComment {
    display : flex;
    flex-direction : row;
    gap : 1.2vw;
    margin-top : 4vh;
}

.addComment {
    display : flex;
    align-items : center;
    width : fit-content;
    margin-left : 0.2vw;
    gap : 0.1vw;
    cursor : pointer;
}

.addComment > span {
    margin-top : 0.2vh;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.addComment > img {
    margin-top : -0.2vh;
}

.seeComment {
    display : flex;
    align-items : center;
    width : fit-content;
    cursor : pointer;
    gap : 0.1vw;
}

.seeComment > img {
    margin-top : -0.4vh;
}
.seeComment > span {
    color : #1F8BFF;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

