button {
    width : 5vw;
    height : 5vh;
    margin-left : 1.4vh;
    border-radius : 0.5rem;
    border : none;
    background-color : #1F8BFF;
    color : #fff;
    font-size : 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

button:hover {
    cursor : pointer;
}