main {
    padding : 7vh 16vw;
}

.write_filter {
    display : flex;
    justify-content : space-between;
}

.write_filter > span {
    display : inline-flex;
    gap : 1vw;
    margin-bottom : 5vh;
}

.write_filter > span > div {
    display : inline-flex;
    width : 6vw;
    height : 6vh;
    justify-content : center;
    align-items : center;
    border-bottom : 1.6px solid #000;
    font-size : 1.2rem;
}

.write_filter > span > div:hover {
    cursor : pointer;
}

.section_title {
    display : flex;
    border-top : 2px solid #000;
    border-bottom : 1px solid #999999;
    flex-direction : row;
    text-align : center;
    padding : 2vh;
    box-sizing : border-box;
    font-weight : 550;
}

.no {
    width : 5vw;
}

.title {
    width : 40vw;
}

.writer {
    width : 9vw;
}

.write_data {
    width : 9vw;
}

.reco {
    width : 5vw;
}