.read_details {
    display: flex;
    width: 58vw;
    height: 25vh;
    align-items: center;
    padding: 0vh 5vw;
    border-bottom: 1px solid #808080;
}

.reco_container { 
    display: flex; 
    gap: 1vw; 
}

.reco {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    margin-right : auto;
}

.reco > h4 {
    font-size: 1.4rem;
    font-weight: 400;
    white-space: nowrap;
}

.reco > h3 {
    font-size: 2rem;
}

.reco_info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left : auto;
}

.reco_info > h4 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
}

.reco_info > button {
    color : #fff;
    background-color : #000;
    width : 7.4vw;
    height : 4.4vh;
    border-radius: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border : none;
}

.reco_info > button:hover {
    cursor : pointer;
}