.input_box {
    display : inline-flex;
    width : 100%;
    height : 6vw;
    margin-top : -2vw;
    align-items : center;
    padding : 0vh 2vw;
    border-bottom : 1px solid #808080;
}

.input_box > input {
    color : #000;
    width : 70vw;
    height : 5vh;
    font-size : 2rem;
    font-weight : 500;
    border : none;
}

.input_box > input::placeholder {
    color : #888;
}

.input_box > input:focus {
    outline : none;
}

textarea {
    resize : none;
    border : none;
    width : 68vw;
    height : 50vh;
    margin : 2vh 2vw;
    color : #000;
    font-size : 1.4rem;
    font-weight: 400;
    line-height: normal;
}

textarea::placeholder {
    color : #B3B3B3;
}

textarea:focus {
    outline : none;
}

.underbar {
    display : inline-flex;
    width : 100vw;
    height : 11.5vh;
    background-color : #E6E6E6;
    align-items : center;
    padding : 0vh 4vw;
    box-sizing : border-box;
}

.buttons {
    margin-left : auto;
}